<%- include("partials/header.ejs") -%>

<h1> Check application status </h1>

<form action="/appStatus" method="post">
<div class="col-12">
    <label for="email" class="form-label"> Email </label>
    <input type="email" class="form-control" id="email" name="email" required>
    <label for="skills" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
    <br>
    <button class="w-100 btn btn-primary btn-lg" type="submit">Check Status </button>
</div>
</form>
<br>
    <% if(obj) { %>
    <h6> First Name: <%= obj.firstName %> </h6>
    <h6> Last Name: <%= obj.lastName %> </h6>
    <h6> E-mail: <%= obj.email %> </h6>
    <h6> Applied For: <%= obj.post %> </h6>
    <h6> Skills: <%= obj.skills %> </h6>
    <h6> Resume Link: <%= obj.resumeLink %> </h6>
    <h6> Application Status: <%= obj.applicationStatus %> </h6>
    <br>
    <% } %>

<%- include("partials/footer.ejs") -%>